.main-wrapper {
    background-color: var(--color-primary);
}
 
.about-text {
    max-width: 700px;
}
  
.about-intro {
    font-family: var(--font-h2);
    font-size: var(--font-size-h3); /* Smaller header */
    font-weight: var(--font-weight-regular);
    color: var(--color-secondary);
}
  
.about-title {
    font-family: var(--font-h1);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-small);
}
  
.about-description {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    color: var(--color-secondary);
    line-height: 2;
    margin-bottom: 0;
}
  
.profile-2-section {
    position: relative;
    background-color: var(--color-primary);
    padding: var(--spacing-large) 0;
    display: flex;
    justify-content: center;
    height: 55vh;
    overflow: hidden;
}

.about-image-container {
    position: relative;
}

.about-image {
    height: 60vh;
    width: auto;
    margin-right: 165px;
    margin-top: -50px;
}

/* Media Queries */
/* Styles for Medium Screens (834x1194= iPad Pro 11") */
@media (min-width: 833px) {
    .about-section {
        align-items: center;
        margin-left: 79px;
    }

    .about-intro {
        font-size: 1.7rem;
    }

    .about-text {
        max-width: 750px;
    }

    .about-title {
        font-size: 3rem;
    }
    
    .about-description {
        font-size: 1.4rem;
    }

    /* Profile Section */
    .profile-2-section {
        height: 76vh;
    }
    
    .about-image {
        height: 84vh;
        width: auto;
        margin-top: -70px;
        margin-right: 315px;
    }
}

/* Styles for Large Screens (1512x982= Macbook Pro 14")*/
@media (min-width: 1440px) {
    /* Main Wrapper */
    .main-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .about-section {
        align-items: center;
        margin: 0;
        margin-right: 20px;
    }

    .about-text {
        max-width: 700px;
    }

    .about-intro {
        font-size: 2.5rem;
    }

    .about-title {
        font-size: 4rem;
    }
    
    .about-description {
        font-size: 1.8rem;
    }

    /* Profile Section */
    .profile-2-section {
        height: 79vh; /* Increases height for less whitespace */
    }

    .about-image {
        height: 86vh;
        width: auto;
        margin: 0;
        margin-top: -60px;
        margin-left: -40px;
        padding-right: 100px;
        display: block;
    }
}