.hidden-portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.main-wrapper {
    background-color: var(--color-primary);
}

.portfolio-section {
    background-color: var(--color-primary);
  }
  
.portfolio-icon {
    width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
}
  
  /* Transparent button with black border + slight overlap */
.clear-btn {
    position: relative;
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: -55px;
}
  
.clear-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

/* Media Queries */
/* Styles for Medium Screens (834x1194= iPad Pro 11") */
@media (min-width: 833px) {
    .portfolio-icon {
        width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .clear-btn {
       font-size: var(--font-size-h2);
       width: 200px;
       height: auto;
       margin-top: -80px;
    }
}

 /* Styles for Large Screens (1450x832= Macbook Air)*/
@media (min-width: 1400px) {
    .main-wrapper {
      display: flex;
      justify-content: center;
    }
  
    .portfolio-section {
      flex-direction: row !important;
      justify-content: center;
      gap: var(--spacing-large);
      width: 100%;
      max-width: 1200px;
      height: 74vh;
    }
  
    .portfolio-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .portfolio-item:last-child {
      margin-top: -48px; /* Fixes alignment error */
    }
  
    .portfolio-icon {
      width: 400px;
      height: auto;
    }
  
    .clear-btn {
      width: 250px;
      font-size: 3rem;
      padding: 0.5rem 2rem;
      margin-top: -45px;
    }
}